h1 a, h1 a:hover {
    color: #000;
    text-decoration: none;
}

.summary {
    clear: both;
}

.summary img {
    float: left;
    margin-right: 5px;
}

.summary h2 {
    margin-bottom: 0;
}

.summary p {
    margin-top: 0;
}

#droparea {
    height: 300px;
    width: auto;
}

#droptext {
    margin-top: 120px;
}
